#headshot {
	width: 100%
}

#aboutme {
	padding-top: 30px;
	vertical-align: middle;
	font-size: 18px;
}

.content-section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (max-width: 991px){

	#aboutme {
		padding-top: 0;
		padding-bottom: 1.0rem;
	}
}

@media screen and (min-width: 1200px) {
	#headshot {
		width: 150%;
		margin-top: 5%;
	}
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
  #headshot {
    position: relative;
    width: 130%;
    margin-top: 30%;
}

@media screen and (max-width: 980px) and (min-width: 769px) {
}

@media screen and (max-width: 768px) and (min-width: 641px) {
	#headshot {
    	margin-top: 20%;
	}
}

@media screen and (max-width: 640px) {

}

