#headshot {
	width: 100%
}

#about {
	position: relative;
	-webkit-box-shadow: 0 -5px 30px -10px rgba(0,0,0,1);
	box-shadow: 0 -5px 30px -10px rgba(0,0,0,1);
	background: url("./img/dust_scratches.png");
}

#aboutme {
	padding-top: 30px;
	vertical-align: middle;
	font-size: 18px;
}

#linked-in-image img {
	-webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
    -webkit-box-shadow: 0 0 40px -10px rgba(0,0,0,1);
    box-shadow: 0 0 40px -10px rgba(0,0,0,1);
}

#linked-in-image img:hover {
	transform: scale(1.25);
}

.content-section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (max-width: 991px){

	#aboutme {
		padding-top: 0;
		padding-bottom: 1.0rem;
	}
}

@media screen and (min-width: 1200px) {
	#headshot {
		width: 150%;
		margin-top: 5%;
	}
}

@media screen and (min-width: 981px) and (max-width: 1199px) {
  #headshot {
    position: relative;
    width: 130%;
    margin-top: 30%;
}

@media screen and (max-width: 980px) and (min-width: 769px) {
}

@media screen and (max-width: 768px) and (min-width: 641px) {
	#headshot {
    	margin-top: 20%;
	}
}

@media screen and (max-width: 640px) {

}

